<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> <a href="https://t.me/ChatWarsAuction/{{lot.message_id}}}" target="_blank" class="card-link">Lot #{{lot.lot_id}}</a></h6>
        <p class="card-text">Item: {{lot.auction_item}} for {{lot.price}}👝 by {{lot.seller_castle}} {{lot.seller_name}}</p>
        <p class="card-text">Date: {{lot.message_date}}</p>
        <p class="card-text">Buyer: {{lot.buyer_castle}} {{lot.buyer_name}}</p>
    </div>
</div>